.navbar {
    background-color: #1219a8;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #1219a8;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: 'Roboto', sans-serif; 
}

.text-colored {
    color: #1219a8;
}

.sobre, 
#aplicativos {
    background-color: #7cbcde;
}

.nav-cardapio .nav-link.active,
#contato button {
    background-color: #1219a8;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    background-color: #1219a8;
}

.social-links li{
    list-style: none;
    display: inline;
}
.social-links a {
    text-decoration: none;
}

.whatsapp {
    color: green;
}
.instagram {
    color: orange;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 200px;
    }
}